<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Documentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>MacOSXSample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ShareFileSDK.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ShareFileSDKMacOSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ShareFileSDKTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ShareFileSDKTestsMacOSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ShareFileSDKTestsiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>iOSSample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>libShareFileSDK.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>libShareFileSDKUniversal.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F15FA3A1A4430DC003970F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F1DFC461A1F2E1700605202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F3F8AD719A48D0B00F616D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F3F8AEE19A48D0B00F616D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F3F8B0919A48F0600F616D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F3F8B1719A48F0700F616D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F3F8B4119A4B0D800F616D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F3F8B5B19A4B0D800F616D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F3F8BB319A4B31300F616D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F3F8BCD19A4B31300F616D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F7E5F9F19DC56920095EC9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F91B35119A4B8D700987B4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F91B37119A4B8D700987B4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F91B38919A4BC2900987B4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7DBBB4219DD59D300E149D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
