<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>shareEmail</key>
	<string>xyz2@abc.com</string>
	<key>email</key>
	<string>xyz1@abc.com</string>
	<key>subdomain</key>
	<string>abc</string>
	<key>clientId</key>
	<string>ccc</string>
	<key>clientSecret</key>
	<string>sss</string>
	<key>password</key>
	<string>ppp</string>
</dict>
</plist>
